<!doctype html>
<meta charset="utf8">
<html ng-app="myApp">
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  </head>
  <body>
    <!-- Not in use -->
  </body>
</html>