<div class="searchBoxTop" >
  <form ng-submit="submit()">
    <a href="#" class="logoTextSmall">
      <b>Feed Me!</b>
    </a>
    <input class="searchText" ng-model="address" type="text" name="address" placeholder="Nearest Address or Zip">
    <select class="searchSelect" ng-model="time" ng-options="t.text for t in times">
      <option value="">-- Time --</option>
    </select>
    <input class="searchBtn" type="submit" value="Submit">
  </form>
</div>

<div class="searchResults">
  <div ng-repeat="item in results">
    <div class="searchItemDate" ng-show="item.firstEvent">{{moment(item.time).format("dddd, MMMM Do YYYY")}}</div>
    <div class="searchItem">
      <a class="searchItemTitle" href="{{item.event_url}}" title="{{item.name}}">{{item.name}}</a>
      <br/>
      <span class="searchItemTime"><b>{{moment(item.time).format("h:mm a")}}</b></span>
      <div class="searchItemFoodHolder">
        <span class="searchItemFood" ng-repeat="food in item.foodProvided">{{food}}</span>
        <span class="searchItemLocation">{{item.venue.address_1+" ("+round(item.distance)+" mi.)"}}</span>
      </div>

    </div>
  </div>
  <div class="loadingText" ng-hide="finishedLoading">{{loadingText}}</div>
  <div class="loadingText">{{errorText}}</div>
</div>
